h1{
	font-size: 1.5em;
	padding: 0 2%;
	text-align: center;
	font-weight: normal;
}

.section{
	width:100%;
	float:left;}

.fl{
	float:left;}

.fr{
	float:right;}

.pct-half{
	width:45%;
	}

.pct-half img{
	width:100%%;
	}
	
.pct-third{
	width:28%;
	}

.p5{
	padding-right:8%;}

.pct-third img{
	width:100%;
	}

.page-img{
	text-align:center;
	padding:20px 0}

.page-img img{
	width:100%;
	text-align:center;}

.subCategory {
	display:block;
	clear:both;
	width:96%;
	margin-left: 2%;
	margin-right: 2%;
	border-bottom: 1px solid #ccc;
	line-height: .85em;
}
.thumbnailImage {
	float:left;
	width:35%;
	margin:2.5%;	
}

.thumbnailImage img {
	border-radius: 5px;
	box-shadow: 0px 0px 3px #888888;
	border: 1px solid #fff;
	}

.thePostSnippet {
	float:left;
	width:60%;
}
.thePostSnippet h2, .thePostSnippet h2 a{
	margin:0;
	padding: 0;	
	text-shadow: 0;
	line-height: .70em;
	color: #bf8c02;
}
.thePostSnippet h2 a {
	font-size:.4em;
	margin-left:5%;
	line-height: .70em;
	text-shadow:none;
	color: #bf8c02;
}
.thePostSnippet p {
	font-size:.6em;
	margin-left:5%;
	lineHeight:.5em;
	text-shadow:none;
	color: #bf8c02;
}

.no-white-bg{
	background:none !important;}

.contentbg{
	background:#fff;
	padding: 15px 10px 10px 10px;
	border-radius: 5px;
	float:left;
	}

.input.ui-input-text{
	margin: 20px auto !important;
	}

input.ui-input-text, textarea.ui-input-text {
background-image: none;
padding: .4em;
line-height: 1.4;
font-size: 16px;
display: block;
width: 95% !important;
margin: 20px auto !important;
}